@import "./variables.scss";
@import "./mixins.scss";

@font-face {
    font-family: 'Inika';
    src: url('../fuentes/Inika-Regular.ttf') format('ttf');
}

*{
    font-family: 'Inika';
    @include limpiar_margenes();
}

body{
    background-color: $color_fondo;
}

header{
    height: 50px;
    @include flex_row();
    justify-content: space-between;
    margin: 0;
    padding: 20px;
    background-color: $color_primario;
    color: $letra_primario;
    margin-bottom: $margen_inferior_productos;
    
    a{
        text-decoration: none;
        color: $letra_primario;
        font-size: $tamaño_letra_menu;
        #portugal{
            width: 40px;
            height: 30px;
            margin-left: 50px;
            margin-right: 30px;
            margin-top: 25px;
        }
    }
    a:hover{
        color: $color_barra;
    }
    #logo{
        position: absolute;
        top: 2%; 
        border-radius: 100px;
        width: 150px;
        border: 7px solid $color_primario;
    }
    #logo:hover{
        transform: scale(1.1);
        transition: transform 0.8s ease-in;
    }
}

section{
    @include grid(4,3);
    @include limpiar_margenes();
    justify-content: center;
    h2{
        grid-column: 1/5;
        text-align: center;
        font-size: $tamaño_letra_titulo;
        color: $letra_secundario;
        margin-bottom: 30px;
        margin-top: 50px;
        font-weight: bold;
    }
    .container{
        @include flex_column();
        justify-content: center;
        .img{
            height: 350px;
            width: 350px;
            @include flex_column();
            justify-content: center;
            img{
                width: 300px;
            }
        } 
        .img:hover{
            transform: scale(1.1);
            transition: all 0.5s ease-in;
        }
        p{
            color: $letra_secundario;
            margin-top: 5%;
            font-size: $tamaño_letra_contenido;
            text-align: center;
        }
        .precio{
            font-weight: bold;
        }
    }
    .boton-compra{
        margin-top: 3%;
        grid-column: 1/5;
        @include flex_row();
        justify-content: center;
        .comprar{
            @include flex_row();
            justify-content: center;
            width: 15%;
            background-color: $color_primario;
            border-radius: 10px;
            padding: 1%;
            gap: 5%;
            a{
                text-align: center;
                color: $letra_primario;
                text-decoration: none;
                font-size: 35px;
            }
            i{
                color: $letra_primario;
                align-items: center;
                font-size: 250%;
            }
        }
        .comprar:hover{
            transform: scale(0.95);
            box-shadow: 3px 3px 1px rgb(106, 106, 106);
            transition: all 0.3s ease-in;
        }
    }
    
}

ul {
    list-style: none;
    @include flex_row();
    justify-content: center;
    margin-left: 10%;
    position: relative;
    li {
        text-align: center;
        margin-top: 20px;
        margin-right: 120px;
        margin-bottom: 10px;
    }
    #seleccionado2 {
        position: absolute;
        bottom: -13px;
        left: -35px;
        width: 190px;
        height: 10px;
        background-color: $color_barra;
    }
    
}

footer {
    background-color: $color_primario;
    color: $letra_primario;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: large;
}

@media (max-width: 1250px) {
    section{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
}