$color_primario: #36140A;
$letra_primario: white;
$color_secundario: #FDF2D4;
$letra_secundario: #36140A;
$color_barra: #D9D9D9;
$color_fondo: #FEF9DC;

$tamaño_letra_menu: 30px;
$tamaño_letra_contenido: xx-large;
$tamaño_letra_titulo: 50px;
$margen_inferior: 100px;
$margen_inferior_productos: 30px;